In [1]:
#----------Funcation------------------

In [3]:
# A function is a block of code which only runs when it is called.

# You can pass data, known as parameters, into a function.

# A function can return data as a result.

In [4]:
def add_num(a,b): # def is keyword for creating a funcation 
    return(a+b)   # add_num is funcation name
                  #

In [6]:
# Crete a funcation

def funcation_name(arguments ):
    # funcation body
    
    return
---------------------------------
# call a funcation

funcation_name()

In [5]:
def greet():
    print("Hello World")

In [8]:
greet()

Hello World

In [9]:
def add_num():
    a=100
    b=234
    c=a+b
    print(c)

In [10]:
add_num()

334

In [15]:
def addnum():
    a=input("Enter first number")
    b=input("Enter Second number")
    c= int(a)+int(b)
    print("Sum of two number is:",c)

In [16]:
addnum()

Enter first number 34
Enter Second number 34

Sum of two number is: 68

In [19]:
def multi(x,y):
    a=x
    b=y
    c=a*b
    print(c)

In [21]:
multi(23,44)

1012

In [22]:
multi(2,4)

8

In [23]:
def intro(name):
    print("hi",name)

In [24]:
intro("Abhinesh")

hi Abhinesh

In [25]:
intro("Ritika")

hi Ritika

In [41]:
def name(first_name,last_name):
    a=first_name
    b=last_name
    c=a+b
    print(c)

In [42]:
name("Abhinesh","Singh")

AbhineshSingh

In [51]:
def name1(first_name,last_name):
    print("hello" ,first_name  + last_name)

In [52]:
name1("Abhinesh" , "singh")

hello Abhineshsingh

In [54]:
# programm for  -21 is give 21
#               
# means Absolute value

In [57]:
def absolute (n):
    if (n>0):
        print(n)
    else:
        print(-n)

In [58]:
absolute(-5)

5

In [59]:
absolute(-512)

512

In [88]:
def full_name(a,b):
    c=a+b
    return (c)

In [91]:
x=full_name("Pw","skills")

In [93]:
x

'Pwskills'

In [92]:
type(x)

str

In [94]:
def full_name(a,b):
    c=a+b
    return # here i nothing to difine what i want to return
        # so its showing nonetype

In [95]:
w=full_name("Pw","skills")

In [96]:
w

In [97]:
type(w)

NoneType

In [98]:
def cal (a,b):
    c=a+b
    d=a-b
    e=a*b
    return c,d,e

In [110]:
y=cal(3,4)

In [112]:
y

(7, -1, 12)

In [103]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Cannot divide by zero"

# Get user input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform calculations
sum_result = add(num1, num2)
difference_result = subtract(num1, num2)
product_result = multiply(num1, num2)
quotient_result = divide(num1, num2)

# Display results
print(f"Sum: {sum_result}")
print(f"Difference: {difference_result}")
print(f"Product: {product_result}")
print(f"Quotient: {quotient_result}")

Enter first number:  34
Enter second number:  56

Sum: 90.0
Difference: -22.0
Product: 1904.0
Quotient: 0.6071428571428571

In [106]:
def area(r):
    return 3.14 * r *r

In [114]:
b=area(3)

In [115]:
b

28.259999999999998

In [117]:
def area_rec(l,b):
    return l*b

In [126]:
area_rec(3,4)

12

In [123]:
def area_tri(b,h):
    return 1/2*b*h

In [127]:
area_tri(4,3)

6.0

In [4]:
# print the first 5 positive integers in ascending order
# with one number in each line

In [5]:
def number():
    for i in range(6):
        print(i)

In [6]:
number()

0
1
2
3
4
5

In [7]:
# Accept an integer as input and print its square as ouput

In [14]:
def squ():
    n=int(input("Enter a number"))
    sq=n*n
    return sq

In [15]:
squ()

Enter a number 2

4

In [16]:
squ()

Enter a number 9

81

In [17]:
# Accept an integer as input and print their sum as output

In [18]:
def sum():
    num1=int(input("Enter first number"))
    num2=int(input("Enter Second  number"))
    add=num1+num2
    return add

In [19]:
sum()

Enter first number 23
Enter Second  number 2

25

In [20]:
def two_word(first,second):
    print(first," ",second)

In [21]:
two_word("Abhinesh","Singh")

Abhinesh   Singh

In [22]:
# create a python program that  include a user define
# funcation called print_even number().
# the funcation should prompt the user to set a range
# limit before printing all even number upto that limit

In [23]:
def print_even_num():
    num1=int(input("Enter the first even number"))
    num2=int(input("Enter the Second  even number"))
    for i in range (num1,num2+1):
        if i%2==0:
            print(i)

In [24]:
print_even_num()

Enter the first even number 1
Enter the Second  even number 10

2
4
6
8
10